* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Heebo', sans-serif;
}

#app-container {
	width: 100%;
	max-width: 960px;
	padding-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#media-container {
	width: 100%;
	/* the following padding-top keeps a 16:9 ratio */
	padding-top: 56.25%;
	position: relative;
	margin-bottom: 16px;
	overflow: hidden;
}

.video-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.video-wrapper.current {
	z-index: 10;
}

.video-wrapper.incoming {
	animation-name: growIn;
	animation-duration: 800ms;
	z-index: 10;
}

@keyframes growIn {
	0% {
		transform: scale(0.6, 0.6);
	}
	100% {
		transform: scale(1, 1);
	}
}

.video-element {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.control-arrow-wrapper {
	position: absolute;
	z-index: 15;
	top: 0;
	bottom: 0;
	width: 50%;
	display: flex;
	align-items: center;
	font-size: xx-large;
	color: white;
}

.prev-arrow-wrapper {
	left: 0;
	justify-content: flex-start;
}
.next-arrow-wrapper {
	justify-content: flex-end;
	right: 0;
}

.control-arrow {
	position: relative;
	visibility: hidden;
}

.next-arrow {
	padding-right: 10px;
}
.prev-arrow {
	padding-left: 10px;
}

.control-arrow-wrapper:hover > .control-arrow {
	visibility: visible;
}

.control-arrow:hover {
	animation-name: arrowWiggle;
	animation-duration: 300ms;
	animation-iteration-count: 2;
	animation-direction: alternate;
	cursor: pointer;
}

@keyframes arrowWiggle {
	to {
		padding-right: 5px;
		padding-left: 5px;
	}
}

#control-panel {
	display: flex;
	justify-content: center;
}

.control-button {
	min-width: 140px;
	height: 40px;
	text-transform: capitalize;
	margin: 0 8px;
	border: none;
	outline: none;
	font-size: 14px;
}

.control-button:hover {
	cursor: pointer;
	background-color: black;
	color: white;
}

.sub-header {
	color: white;
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 16px;
	right: 16px;
	bottom: 16px;
}

.sub-header-number {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: 64px;
	min-height: 50px;
	background-color: #37c4dc;
	visibility: hidden;
	font-size: x-large;
	font-weight: 300;
	color: transparent;
}

.sub-header-text {
	padding: 0 12px;
	display: flex;
	align-items: center;
	background-color: #000000e1;
	visibility: hidden;
	flex-grow: 1;
	font-size: 12px;
	line-height: 1.2;
}

.current .sub-header-number {
	animation-name: expandUpNumber;
	animation-duration: 5s;
	animation-delay: 1s;
	animation-iteration-count: 2;
	animation-direction: alternate;
}

.current .sub-header-text {
	animation-name: expandRightText;
	animation-duration: 4s;
	animation-delay: 2s;
	animation-iteration-count: 2;
	animation-direction: alternate;
}

@keyframes expandRightText {
	0% {
		transform: scaleX(0);
		transform-origin: left;
	}
	10% {
		transform-origin: left;
		transform: scaleX(1);
		visibility: visible;
	}
}
@keyframes expandUpNumber {
	0% {
		transform-origin: bottom;
		transform: scaleY(0);
	}
	10% {
		color: transparent;
		transform-origin: bottom;
		transform: scaleY(1);
		visibility: visible;
	}
	20% {
		color: white;
	}
	100% {
		color: white;
	}
}

.animated-right {
	animation-name: swipeRight;
	animation-duration: 1600ms;
	animation-timing-function: ease-in-out;
}
.animated-left {
	animation-name: swipeLeft;
	animation-duration: 1600ms;
	animation-timing-function: ease-in-out;
}

@keyframes swipeRight {
	0% {
		left: 0;
		z-index: 11;
	}
	25% {
		transform: scale(1.2, 1.2);
	}
	50% {
		left: 100%;
		z-index: 11;
		transform: scale(1, 1);
	}
	51% {
		z-index: 5;
	}
	100% {
		left: 0;
	}
}
@keyframes swipeLeft {
	0% {
		right: 0;
		z-index: 11;
	}
	25% {
		transform: scale(1.2, 1.2);
	}
	50% {
		right: 100%;
		z-index: 11;
		transform: scale(1, 1);
	}
	51% {
		z-index: 5;
	}
	100% {
		right: 0;
	}
}

@media (min-width: 540px) {
	#app-container {
		padding: 40px;
	}

	.sub-header-text {
		font-size: 16px;
	}
}

@media (min-width: 800px) {
	.sub-header-number {
		font-size: xx-large;
		width: 96px;
		min-height: 75px;
	}

	.sub-header-text {
		padding: 0 24px;
		font-size: 20px;
	}
	.control-button {
		min-width: 180px;
	}
}
